@import url('https//fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightpink;
    color: black
}

.container {
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: hotpink;
    box-shadow: 0 0 50px white;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}